.service-list{
    width: 100%;
    height: auto;
    margin-bottom: .16rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-top: 1px solid #dedede;
    .service-title{
        width:100%;
        height: 1.28rem;
        padding: .5rem .34rem;
        font-size: .3rem;
        line-height: .3rem;
        border-bottom: 1px solid #dedede;
        .service-name{
            display: inline-block;
            border-left:.06rem solid #00aca0;
            text-indent: .2rem;
        }
    }
    .service-bar{
        padding-top: .2rem;
        padding-bottom: .2rem;
        border-bottom: 1px solid #dedede;
    }
}

.service-list{
    .am-list-header{
        width:100%;
        height: 1.28rem;
        padding: .5rem .34rem;
        font-size: .3rem;
        line-height: .3rem;
        border-bottom: 1px solid #dedede;
        .point-title{
            display: inline-block;
            border-left:.06rem solid #00aca0;
            text-indent: .2rem;
        }
    }
}