.listItem-item{
    width: 95%;
    height: 240px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 60%);
    &>img{
        display: inline-block;
        height: 160px;
        width: 160px;
         border-radius: 5px;
         margin-top: 40px;
         margin-left: 20px;
    }
    & > .listItem-title{
        display: inline-block;
        position: absolute;
        top: 40px;
        margin-left: 20px;
    }
    & > .listItem-comment{
        position: absolute;
        bottom: 40px;
        margin-left: 20px;
    }
    & > .listItem-time{
        position: absolute;
        right: 10px;
        bottom: 40px;
    }
    &>.detail-title{
        position: absolute;
        display: inline-block;
        top: 40px;
        margin-left: 20px;
        color: #00796b;
    }
    &>.detail-comment{
        position: absolute;
        display: inline-block;
        top: 100px;
        margin-left: 20px;
    }
    &>.detail-time{
        margin-left: 20px;
    }
    &>.ProductComment-title{
        position: absolute;
        display: inline-block;
        top: 40px;
        margin-left: 20px;
        color: #898f9d;
    }
    &>.ProductComment-comment{
        position: absolute;
        display: inline-block;
        top: 130px;
        margin-left: 20px;
    }
    &>.ProductComment-time{
        position: absolute;
        margin-left: 20px;
        top: 80px;
        color: #b9b8bd;
    }

}
.product-item{
    width: 100%;
    height: 265px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    .product-img{
        margin-top: 50px;
        margin-left: 50px;
        border-radius: 10px;
        width: 140px;
        height: 140px;
    }
    .product-title{
        position: absolute;
        top:50px;
        margin-left: 10px;
        font-size: 30px;
    }
    .product-site{
        position: absolute;
        top:120px;
        margin-left: 10px;
        font-size: 28px;
    }
    .product-border{
        display: block;
        width: 90%;
        height: 2px;
        margin: 0 auto;
        margin-top: 10px;
        border-bottom:1px dashed #e3e8ee;
    }
    .product-bottom{
        vertical-align: middle;
    }
    .product-bottom-img{
        display: inline-block;
        margin-left: 50px;
        margin-top: 8px;
        margin-right: 15px;
        width: 32px;
        height: 32px;
    }
    .product-bottom-word{
        display:  inline-block;

    }
    
}
.ProductDetail-img{
    width: 100%;
    height: 432px;
}
.ProductDetail-first{
    background-color: #fff;
    width: 100%;
    height: 950px;
    .shopName{
        display: block;
        text-align: center;
        width: 100%;
        height: 34px;
        margin-top: 56px;
        font-size: 34px;
    }
    .timeWord{
        display: block;
        text-align: center;
        line-height: 48px;
        width: 100%;
        height: 27px;
        margin-top: 32px;
        font-size: 27px;
        color: #8b8c91;
    }
    .ProductDetail-postion{
        margin-top: 56px;
        width: 94%;
        height: 155px;
        margin-left: 3%;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px dashed #e6e6e6;
        position: relative;
        &>.ProductDetail-postion-img{
            position: absolute;
            width: 30px;
            height: 35px;
            top: 50%;
            margin-top: -17px;
            left: 25px;
        }
        &>span{
            position: absolute;
            display: inline-block;
            width: 80%;
            left: 80px;
            line-height: 155px;
        }
        &>.ProductDetail-icon{
            position: absolute;
            right: 25px;
            width: 15px;
            height: 35px;
            top: 50%;
            margin-top: -17px;
        }
    }
   
    .ProductDetail-pay{
        width: 94%;
        height: 155px;
        margin-left: 3%;
        position: relative;
        .ProductDetail-bottom-img{
            width: 34px;
            height: 34px;
            position: absolute;
            top:50%;
            margin-top: -17px;
        }
        .ProductDetail-bottom-word{
            position: absolute;
            display: block;
            font-size: 30px;
            color: #08bea8;
            top:50%;
            margin-top: -15px;
            left: 80px;
        }
        .ProductDetail-btn{
            display: inline-block;
            color: #08bea8;
            padding: 10px 20px;
            border: 1px solid #08bea8;
            position: absolute;
            right: 20px;
            top:50%;
            margin-top: -30px;
            border-radius: 5px;
        }
    }
}
.ProductDetail-detail{
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    .detail-title{
        color: #08bea8;
        display: block;
        margin-top: 50px;
        font-size: 30px;
        margin-left: 3%;
        margin-bottom: 50px;
    }
    .detail-html{
        width: 94%;
        margin-left: 3%;
        margin-bottom: 50px;
    }
}
.ProductDetail-comment{
    width: 100%;
    background-color: white;
    margin-top: 25px;
    border-bottom:1px dashed #ececec;

    .ProductDetail-comment-top{
        width: 94%;
        margin-left: 3%;
        height: 100px;
        line-height: 100px;
        border-bottom: 1px solid #ececec;
    }
    .comment-icon{
        width: 29px;
        height: 29px;
        vertical-align: middle;
    }
    .user-comment{
        font-size: 29px;
        color: #a7a7b3;
        display: inline-block;
        margin-left: 10px;
        &>span{
            color: red;
        }
    }
    .look-comment{
        font-size: 29px;
        color: #a7a7b3;
        display: inline-block;
        float: right;
        margin-right: 10px;
    }
    .comment-enter{
        display: inline-block;
        margin-top: 35px;
        width: 15px;
        height: 30px;
        vertical-align: middle;
        float: right;
    }
}
 .ProductDetail-addComent{
        background-color: white;
        width: 100%;
        text-align: center;
        line-height: 100px;
        height: 100px;
        &>img{
            width: 30px;
            height: 30px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
        }
        &>span{
            font-size: 30px;
            color: #08bea8;
        }
    }
.ProductBuy-body{
    height: 800px;
    width: 94%;
    margin-left: 3%;
    background-color: #fff;
    margin-top: 25px;
    box-shadow: 0 0 15px 10px rgba(0,0,0,4%);
    overflow: hidden;
    .ProductBuy-word{
        color: #646464;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 27px;
        margin-top: 50px;
    }
    .ProductBuy-momey{
        width: 94%;
        margin-left: 3%;
        text-align: center;
        margin-top: 46px;
        padding-bottom: 50px;
        border-bottom: 1px solid #dedede; 
        &>span{
            font-size: 35px;
            margin-right: 15px;
        }
        &>input{
            height: 120px;
            width: 220px;
            font-size:50px;
            border: none;
            border-radius: 20px;
            border-bottom: 2px solid #000;
        }
        .fake-input{
            height: 120px !important;
            font-size: 2rem;
        }
        .am-input-item{
            width: 220px !important;
            display: inline-block;
        }
    }
    .ProductBuy-pay{
        width: 100%;
        height: 108px;
        border-bottom: 1px solid #dedede; 
        position: relative;
        .ProductDetail-bottom-img{
            width: 34px;
            height: 34px;
            position: absolute;
            top:50%;
            margin-top: -17px;
            left: 3%;
        }
        .ProductDetail-bottom-word{
            position: absolute;
            display: block;
            font-size: 30px;
            top:50%;
            margin-top: -15px;
            left: 80px;
        }
        .ProductDetail-bottom-price{
            position: absolute;
            display: block;
            font-size: 30px;
            color: red;
            top:50%;
            margin-top: -15px;
            right: 3%;
        }
    }
    .ProductDetail-btn{
        display: block;
        width: 80%;
        margin-top: 82px;
        margin-left: 10%;
        line-height: 100px;
        color: #fff;
        text-align: center;
        line-height: 100px;
        background-color: #00aca0;
        border-radius:10px;
    }
    .ProductDetail-other{
        margin-top: 40px;
        display: block;
        width: 100%;
        text-align: center;
        color: #666;
    }
}
.LoungeBuy-top{
    height: 400px;
    width: 100%;
    background-color: #00aca0;
    position: relative;
    .LoungeBuy-card{
        height: 250px;
        width: 80%;
        margin-left: 10%;
        position: absolute;
        bottom:0px;
        background-color: #fff;
        border-radius: 30px 30px 0 0;
        .LoungeBuy-img{
            
        }
    }
}